



body {
	margin: 0;
	padding: 0;
	position: relative;
	width: auto;
}
body #page {
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: auto;
}
a {
	text-decoration: none;
	outline: none;
}
a:active {
	background: none;
}
img {
	border: none;
}
/*-------------------------------------------FONTS---------------------------------------------*/
@font-face {
	font-family: 'roboto-regular-webfont';
	src: url('../fonts/roboto-regular-webfont.eot');
	src: url('../fonts/roboto-regular-webfont.woff') format('woff'), url('../fonts/roboto-regular-webfont.ttf') format('truetype'), url('../fonts/roboto-regular-webfont.svg') format('svg');
}
@font-face {
	font-family: 'quicksand-bold-webfont';
	src: url('../fonts/quicksand-bold-webfont.eot');
	src: url('../fonts/quicksand-bold-webfont.woff') format('woff'), url('../fonts/quicksand-bold-webfont.ttf') format('truetype'), url('../fonts/quicksand-bold-webfont.svg') format('svg');
}
@font-face {
	font-family: 'magra-bold-webfont';
	src: url('../fonts/magra-bold-webfont.eot');
	src: url('../fonts/magra-bold-webfont.woff') format('woff'), url('../fonts/magra-bold-webfont.ttf') format('truetype'), url('../fonts/magra-bold-webfont.svg') format('svg');
}
@font-face {
	font-family: 'lato-regular-webfont';
	src: url('../fonts/lato-regular-webfont.eot');
	src: url('../fonts/lato-regular-webfont.woff') format('woff'), url('../fonts/lato-regular-webfont.ttf') format('truetype'), url('../fonts/lato-regular-webfont.svg') format('svg');
}
@font-face {
	font-family: 'lato-bold-webfont';
	src: url('../fonts/lato-bold-webfont.eot');
	src: url('../fonts/lato-bold-webfont.woff') format('woff'), url('../fonts/lato-bold-webfont.ttf') format('truetype'), url('../fonts/lato-bold-webfont.svg') format('svg');
}
/*----------------------------------------header-styles---------------------------------------*/
#header {
	background-color: #DAD7CB;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
}




/*scales the header div*/
#header div {
	margin: 0 auto;
	max-width: 1160px;
	overflow: hidden;
	padding: 0px 0px 0px;
}


/*says where the block inside header div is */
#header div ul {
	display: inline-block;
	float: left;
	list-style: none outside none;
	margin: 0 auto;
	padding: 17px 0 0;
	width: auto;
	text-align: center;
}
#header div ul li {
	display: inline-block;
	*float: left; /* Needed for IE7 and old versions */
	margin: 0 35px;
	padding: 0;
	position: relative;
	width: auto;
}
#header div ul li a {
	color: #ffffff;
	font-family: lato-regular-webfont;
	font-size: 20px;
	font-weight: normal;
	line-height: 15px;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
}



/*language selection*/

#header div.language {
	padding-right: 35px;
	display: block;
	float: right;
}

/*Languages represented by flags*/


#header div.language a {
	background: url(../images/flags.png) no-repeat;
	display: block;
	height: 30px;
	padding-right: 20px;
	text-indent: -99999px;
	margin: 0 5px 10px;
	width: 30px;
}


#header .language a.german {
	background-position: 0 0;
}

#header .language a.english{
	background-position: 0 -39px;
}

/*here is the positionind for the brazilian and italien flag
#header .language a.portuges {
	background-position: 0 -86px;
}

#header .language a.italian{
	background-position: 0 -135px;
}
*/


#header div.language ul li{
	margin: 0 2px 0 2px;
}

/*colour of the selected link*/
#header div ul li.selected a, #header div ul li.selected a:hover {
	color: #ffffff;
}

#header div ul li.menu {
	min-height: 35px;
	z-index: 80;
}




/*----------------------------------------body-home-styles---------------------------------------*/
#body.home {
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 100%;
}

/*werte für den header des bodies*/
#body.home div.header {
	margin: 0;
	max-width: none;
	overflow: hidden;
	padding: 0;
	width: 100%;
}

#body.home div.header div {
	margin: 0 auto;
	max-width: 1160px;
	text-align: center;
}


#body.home div.header div h2 {
	color:black;
	text-align: center;
	font-family: Arial, Sans-Serif, Helvetica;
	font-size: 37px;
}


#body.home div.body {
	margin: 0 auto;
	max-width: 350px;
	overflow: hidden;
	padding: 0 0 35px;
}

/*---------------------------------------------------*/
#body.home div.body div {
	width: 280px;
	margin: 0 auto;
	padding: 0 0 0 0;
	
}

#body.home div.number {
	margin: 0 auto;
	max-width: 960px;
	padding: 20px 0 20px 0;
}

#body.home div.number h1{
	color: #333333;
	margin: 0 auto;
	padding-bottom: 25px;
	float: initial;
	font-size: 170px;
	text-align: center;
	font-family: Arial, Sans-Serif, Helvetica;
}

/*Text: how many people live in munich*/



#body.home div.body div div.block {
	width: auto;
	display:grid;
    grid-template-columns: max-content max-content max-content;
	grid-gap:8px;
	
}

#body.home div.body div p {
	color: black;
	font-family: roboto-regular-webfont;
	font-size: 25px;
	font-weight: normal;
	text-align: justify;
	text-transform: none;
	display: inline-block;
	margin: 0 auto;
}​

#body.home div.body div p:after{
	content: ":";
}

/*-----------TextBox--------------*/
#body.home div.body div input{
	font-size: 20px;
}

/*-----------Button---------------*/

#body.home div.body div button {
	display: inline-block;
	background-color:transparent;
    padding: 0;
    margin: 0;
	vertical-align: top;
    height: 35px;
	width: 37px;
	border-radius: 50%;
	border: transparent;
	opacity: 100%;
}

#close-image img {
	display: block;
	float: center;
	padding-right: 5px;
    height: 35px;  
	width: 35px;
}


/*---------------------------------------------------*/


#body.home div.body div div {
	float: left;
	margin: 0;
	padding: 0 0 0 0;
	width: 100%;
}




#body.home div.footer {
	margin: 0;
	max-width: none;
	padding: 0 0 0;
	width: 100%;
}

#body.home div.footer div{
	margin: 150px auto;
	max-width: 960px;
	text-align: center;
}

#body.home div.footer div p{
	color: black;
	display: block;
	font-family: roboto-regular-webfont;
	font-size: 17px;
	font-weight: normal;
	line-height: 150%;
	margin: 0 20px;
	padding: 10px 0 10px;
	text-align: justify;
	text-transform: none;
}


#body.home div.footer div h1{
	color: black;
	display: block;
	font-family: roboto-regular-webfont;
	font-size: 30px;
	text-align: left;
}



/*----------------------------------------body-styles---------------------------------------*/

#body div.footer .section p a {
}
#body div.footer .section p a:hover {
}
/*----------------------------------------footer-styles---------------------------------------*/
#footer {
	background-color: #DAD7CB;
	overflow: hidden;
	min-height: 150px;
	margin: 0;
	padding: 0;
	width: 100%;
}
#footer div {
	margin: 0 auto;
	overflow: hidden;
	padding: 15px 0 0; /* 59 0 13 */
	max-width: 960px;
}
#footer div a {
	color: black;
	display: block;
	font-family: roboto-regular-webfont;
	font-size: 15px;
	font-weight: normal;
	float: right;
	text-transform: none;
}


#footer div.love p {
	color: black;
	display: block;
	font-family: roboto-regular-webfont;
	font-size: 15px;
	font-weight: normal;
	line-height: 15px;
	margin: 0;
	padding: 0 0 0;
	text-align: center;
	text-transform: none;
}

/*so that everything is alligned in the impressum*/
#footer ul{
	
	list-style: none outside none;
}

#footer a.test{
	padding-left: 20px;
}

/*Github icon stuff -----------------------*/

#footer div .connect {
	float: left;
	height: 30px;
	padding-top: 12px;
	width: auto;
}

#footer div .connect a {
	background: url(../images/icons.png) no-repeat;
	display: block;
	height: 50px;
	padding-right: 10px;
	text-indent: -99999px;
	width: 50px;
}
#footer div .connect a.github {
	background-position: 0 0;
}





/* SLIDER CSS START */

.slidecontainer {
	margin: 0;
	max-width: none;
	width: 100%;
}

.slidecontainer div{
	max-width: 960px;
	display: block;
	margin: 0 auto;
}

/*-----------These are the details for nerds----------------*/
details{
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	display: block;
	width: 960px;
	margin: 0 auto;
	text-align: left;
}

p{
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-left: 20px;
}

/*This tells the social distancing percentage.*/
#body.home div.percent{
	max-width: 960px;
	display: block;
	margin: 0 auto;
}
  
#body.home div.percent p{
	color: black;
	font-family: roboto-regular-webfont;
	font-size: 15px;
	font-weight: normal;
	line-height: 15px;
	margin: 0;
	padding: 10px 0 10px;
	text-align: left;
	text-transform: none;
}



  /* The slider itself */
  .slider {
	display: block;
	margin: 0 auto 25px;
	-webkit-appearance: none;  /* Override default CSS styles */
	appearance: none;
	width: 960px; /* Full-width */
	height: 25px; /* Specified height */
	background: #d3d3d3; /* Grey background */
	outline: none; /* Remove outline */
	opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: .2s; /* 0.2 seconds transition on hover */
	transition: opacity .2s;
  }
  
  /* Mouse-over effects */
.slider:hover {
	opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	width: 25px; /* Set a specific slider handle width */
	height: 25px; /* Slider handle height */
	background: #333333; /* Green background */
	cursor: pointer; /* Cursor on hover */
  }
  
.slider::-moz-range-thumb {
	width: 25px; /* Set a specific slider handle width */
	height: 25px; /* Slider handle height */
	background: #333333; /* Green background */
	cursor: pointer; /* Cursor on hover */
  }
  
  /* SLIDER CSS END */
